<h1>Welcome Mr. Cocktail!</h1>

<h4><%= link_to "Create a new drink", new_cocktail_path %></h4>


<% @cocktails.each do |c| %>
<p><%= c.name %></p>
<%= link_to "More details", cocktail_path(c) %>
<p><%= link_to "Add Ingredients", new_cocktail_dose_path(c)  %></p>
<% end %>

